# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5315179c4a87e1d533e87ac3160196d69c57433f425c100d82df46bf61eba735061df5986f0c02b14d0b8fa864318114a45fe702843326c33818f88a396c65d5
  database:
    name: modern_rails_development

test:
  secret_key_base: 5e2123d684ad03b979db6d4e2b090d0825cba8e5cc44cd70c5dbbf4b0d844a368338539821b6f30f0daa54ea16db5fa2b2b7cfcc48aec99f50ee0e55e9883c24
  database:
    name: modern_rails_test

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  database:
    name: <%= ENV["DATABASE_NAME"] %>
